/*general*/

*{
    border: solid 2px blueviolet;
     
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa-solid{
  color: #0065FC;
}

a{
  text-decoration: none;       
 
}


.strong{
  font-weight: bold;
}


body{
    margin: 0;
    padding: 0 30px 0 30px;
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
}

/* header*/

header nav img{
width: 60px;
height: 19px;



}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:15px ;
    height: 100px;
    
}

nav ul{
    display: flex;
    list-style: none; 
    height: 100%;  
}

nav li{
    margin:0 67px 0 77px;
}



nav a:hover{
    border-top: 2px solid #0065FC;
}


/* Main*/


   section h1{
    margin-bottom: 15px;
    height: 26px;
    margin-top: 63px;
}

   h1 p{
    margin-left: 0px;
    height: 19px;
    }


    form{

      display: flex;
    }

   

   .recherche{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 55px;
        width: 250px;
        margin-top: 20px;
    }

   .recherche i{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 43px;
        background-color: #F2F2F2;
        border-radius: 10px 0 0 10px;
    }

   form button{
        background-color: #0065FC;
        border-radius: 0 15px 15px 0;
        border: 1px solid #0065FC;
        width: 132px;
        height: 42px;
        color: white;
        
    }

   input{
        width: 132px;
        height:43px ;
        border: 1px solid #F2F2F2;
        outline: none;   
    }

  .filtre{
        display: flex;
        flex-direction: column;
        width: 800px;   
    }

  .filtre-icon{
      margin-right: 10px;
    }

  .box1{
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
        margin-top: 32px;
        justify-content: space-between;
        align-items: center;
    }
  .box2{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .box2 i{
      text-align: center;
      margin-right: 10px;
    }

    .fa-info{
      border: 2px solid  #F2F2F2;
      border-radius: 50%;
      width: 20px;
      height: 20px;
     
    }

  .bouton-filtre{
        border: 2px solid grey;
        border-radius: 25px;
        height: 50px;
        padding: 0 5px 0 5px;
        background-color: white;
    }

    .bouton-filtre:hover{
      background-color:#DEEBFF;
    }

    /* hebergement*/


  .hebergement{
        border-radius: 15px;
        background-color:  #F2F2F2;
        padding: 0px 40px 0 20px;
        margin-top:  40px;
        flex: 2;
    }

  .hebergement h1{
        margin: 0px 0px 25px 0px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    

  .card{
    height: 220px;
    width: 240px;
    border-radius: 20px;
    border: 5px solid white;
    background-color: white;
    color: black;
   }


  .card img{
    box-sizing: border-box;
    width: 100%;
    border-radius: 19px 19px 0px  0px;
    object-fit: cover;
    height: 60%;
  }
  
  .card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: white;
  }

  .container1,.container2{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }

  /* populaire*/

  .populaire{
    width:;
    height: 720px;
    background-color:  #F2F2F2;
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
    margin: 40px 0 0 40px;
    flex: 1;
    }
   

  .pop-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

  .pop-card{
    width: 343px;
    height: 170px;
    border-radius: 20px;
    border: 5px solid white;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 30px;
    overflow: hidden;
    }

 .pop-card img{ 
    width: 50%;
    border: 3px solid white;
    border-radius: 20px 0px 0px 20px;
    }

  .pop-text{
    display: flex;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
    justify-content: space-between;
    }

  

  .stars{
  justify-self: end;
  }


  #flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    /* activités*/

    .activite{
      padding: 0;
    }

    .activite-card{
     width: 300px;  
     height: 450px;
     border-radius: 20px;
     overflow: hidden;
     box-shadow: 2px 2px  #F2F2F2;
     color: black; 

    }

    .activite-card img{
        object-fit: cover;
        width: 100%;
        height: 85%;
    }

    .activite-card h3{
        padding-left: 10px;
        font-size: 16px;
        margin-top: 13px;
    }

    .activite-bloc{
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
    }


   /* Footer*/


   .footer{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F2F2F2;
    height: 230px;
    padding-top: 25px;
    margin-top: 30px;
    
   }

   .foot{

   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 150px;
   }

    /* media queries*/


    @media screen and (max-width: 992px){

      

      #flex{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .tablette{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .hebergement{

        padding: 15px 25px 15px 25px;
        
      }

      .populaire{

        margin: 35px 0 15px 0;
        padding: 15px 25px 15px 5px;
        width: 100%;
      }

      .container1,.container2{
        justify-content: space-around;
      }

      .activite{
        width: 100%;
        padding: 0;
      }

      .activite-card{
        width: 200px;
      }


    }